
<div class="content-block-inner">
			<div class="single-product-area">
				<div class="single-product">
					<div class="single-product-img">

						<a href="#"><img src="img/product/5.jpg" alt="" /></a>

            
					</div>
					<div class="single-product-content">
						<h1 class="product_title">{{product.name}}</h1>
						<div class="price-box">
							<span class="new-price">{{product.price}}</span>


						</div>

						<div class="short-description">
							<p>{{{product.description_short}}}</p>
						</div>
						<form action="#">
							<div class="quantity">
								<input type="number" value="1">
                <input type="number" value="{{product.quantity}}" disabled>
							  <a href="#">Aggiungi</a>
							</div>
						</form>
					</div>
				</div>
			</div>

</div>
