
<div class="content-block-inner">
    <div class="cart-heading-1 ">
        <h2  style="text-align: center;"><i class="fa fa-home"></i>{{model.manufacturer.name}}</h2>
    </div>
    <div class="single-product-area-farm">
        <div class="single-product-farm">
            <div class="single-product-img-farm">
                <img src="http://www.loveitaly.net/img/cms/fine%20vendemmia%20pecorino_sito.jpg" alt="" />
            </div>
            <div class="single-product-content-farm">
                <h1 class="product_title">{{model.manufacturer.name}}</h1>
            </div>
            <div class="short-description-farm">
                <p>{{{model.manufacturer.meta_description}}}</p>
            </div>
        </div>
    </div>
    <div class="related-product-farm">
        <div class="cart-heading-1 ">
            <h2  style="text-align: center;"><i class="fa fa-home"></i> Prodotti dell'azienda</h2>
        </div>
        <h3>{{#each Products}}</h3>
        <div class="single-shop-list" id="goToProductDetail" data-id="{{attributes.id}}">
            <div class="shop-inner">
                <div class="shop-img" style="background-image:url('http://loveitaly.altervista.org/api/images/products/{{attributes.id}}/{{attributes.associations.images.0.id}}?ws_key=IYI6M35MLB8UVW38Y99RY3YPQWRX5X8H')"></div>
                <div class="shop-content">
                    <h3><a href="#">{{attributes.name}}</a></h3>
                    <div class="price-box">
                        <span class="new-price">{{attributes.price}}</span>
                        <!--<span class="old-price">£120.00</span>-->
                    </div>
                    <p>{{{attributes.description_short}}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
