
                <div class="content-block-inner">
                    <div class="shop-area">
                      <div class="row">
                        {{#each Contacts}}

                                <div class="shopbox shopbox-category">
                                  <div class="shopbox-content shopbox-content-category">

                                    <h1>{{name}}</h1>
                                    <h2>{{email}}</h2>
                                    <h3>{{description}}</h3>

                                  </div>
                                </div>

                        {{/each}}
                      </div>
                    </div>

                </div>
