
<div class="content-block-inner">
    <div class="cart-heading-1 ">
        <h2  style="text-align: center;"><i class="fa fa-phone"></i>Chi Siamo</h2>
    </div>
    <div class="shop-area">

        {{#each Contacts}}
        <div class="row">

            <div class="cart-heading-1  chi-siamo">
                <h2><i class="fa fa-user"></i>{{name}}</h2>
                <p><i class="fa fa-envelope-o"></i>&nbsp;<a id="mailto" data-mailto="{{email}}">{{email}}</a></p>
                <p><i class="fa fa-gear"></i>&nbsp;{{description}}</p>
            </div>
        </div>
        {{/each}}

    </div>

</div>
