<div class="profile-container">
    <!--  <h1> Riepilogo Profilo </h1>-->
    <div class="cart-heading-1 ">
        <h2><i class="fa fa-user"></i> Errore Generico </h2>
    </div>



    <div class="about-page wormError">
        <!--<img src="../../img/error.png" alt="" />-->
        <h3>QUESTO E' IMBARAZZANTE</h3>
        <div class="aboutcontent">
            <h4 id="errore">Si è verificato un errore di Rete, controlla se sei connesso e premi il pulsante, Ricarica</h4>
            

            <!--<button id='gohome'>Ricarica Pagina</button>-->
            <div id="gohome" class="cart-heading-1 ">
                <h4>Ma d'altronde non è il crash esso stesso il software?</h4>
                <h2 style="text-align: center;" >Ricarica Pagina</h2>
            </div>
        </div>
    </div>

</div>