<!--item-link close-panel item-content close-popup open-login-screen-->
<!-- menu end -->
<div id="target" style="float: none;">
    
                <div class="">
                    <a  ><i class="fa fa-times"></i></a>
                    <h3><img src="img/logo.png" alt=""></h3>
                    
                        <div class="inputbox">
                            <span>Email</span><br>
                            <input type="text" name="name"  id="inputEmail" placeholder="Email">
                        </div>
                        <div class="inputbox">
                            <span>Password:</span><br>
                            <input type="password" name="password" id="inputPassword" placeholder="***********">
                        </div>
                        <div class="inputbox">
                            <a   href="#">Forget Password?</a>
                        </div>
                        <div class="inputbox">
                            <button id="loginFire" class="button button-big">Login</button>
                        </div>						
                  
                    <p>Don’t have an account?  <a data-popup=".popup-register" class="open-popup" href="#">Sign Up</a></p>
                </div>
            </div>
  
<!--<div class="popup popup-forgetpass">
    <div class="registerbody">
        <a href="#" class="close-popup closebutton"><i class="fa fa-times"></i></a>
        <div class="register-content">
            <h3><img src="img/logo2.png" alt=""></h3>
            <form action="#">
                <div class="inputbox">
                    <span>Email:</span><br>
                    <input type="email" name="password" placeholder="email@gmail.com">
                </div>
                <div class="inputbox">
                    <button class="button button-big">Remember me</button>
                </div>						
            </form>	
            <p>Don’t have an account?<a data-popup=".popup-register" class="open-popup" href="#"> Sign Up</a></p>
        </div>
    </div>
</div>-->
<!-- forget password  end-->
<!-- resister popup start-->
<!--<div class="popup popup-register">
    <div class="registerbody">
        <a href="#" class="close-popup closebutton"><i class="fa fa-times"></i></a>
        <div class="register-content">
            <h3><img src="img/logo2.png" alt=""></h3>
            <form action="#">
                <div class="inputbox">
                    <span>Full Name:</span><br>
                    <input type="text" name="fulname" placeholder="Full Name">
                </div>
                <div class="inputbox">
                    <span>Username:</span><br>
                    <input type="text" name="username2" placeholder="Username">
                </div>
                <div class="inputbox">
                    <span>Email:</span><br>
                    <input type="email" name="email" placeholder="email@gmail.com">
                </div>
                <div class="inputbox">
                    <span>Password:</span><br>
                    <input type="password" name="password2" placeholder="***********">
                </div>
                <div class="inputbox">
                    <button class="button button-big">Sign Up</button>
                </div>					
            </form>
        </div>
    </div>
</div>-->
<!-- resister popup start-->
<!-- Views -->