<div class="profile-container">
    <!--  <h1> Riepilogo Profilo </h1>-->
    <div class="cart-heading-1 ">
        <h2><i class="fa fa-user"></i> Registrazione</h2>
    </div>

    <div class="register-content register-content-profile">
        <form >
            <div class="inputbox-profile">
                <span>Nome:</span><br>
                <input type="text" name="firstname" placeholder="First Name"/>
            </div>
            <div class="inputbox-profile">
                <span>Cognome:</span><br>
                <input type="text" name="lastname" placeholder="Lastname" />
            </div>
            <div class="inputbox-profile">
                <span>Password</span><br>
                <input type="text" name="password" placeholder="Password" />
            </div>
            <div class="inputbox-profile">
                <span>Riperti Password</span><br>
                <input type="password" name="password2"/>
            </div>
            <div class="inputbox-profile">
                <span>Email:</span><br>
                <input type="email" name="email" placeholder="Email" />
            </div>
            <div class="inputbox-profile" >
                <span>Data di Nascita:</span><br>
                <input type="text" name="birthday" placeholder="Birthday"/>
            </div>
            <div class="inputbox-profile" >
                <span>Indirizzo:</span><br>
                <input type="text" name="address1" placeholder="Address1" />
            </div>
            <div class="inputbox-profile" >
                <span>Dettagli Indirizzo:</span><br>
                <input type="text" name="address2" placeholder="{ddresses" />
            </div>
            <div class="inputbox-profile" >
                <span>Citt&aacute;:</span><br>
                <input type="text" name="city" placeholder="City" />
            </div>
            <div class="inputbox-profile" >
                <span>CAP:</span><br>
                <input type="text" name="postcode" placeholder="Postcode" />
            </div>
            <div class="inputbox-profile" >
                <span>Telefono Casa:</span><br>
                <input type="text" name="phone" placeholder="Phone" />
            </div>
            <div class="inputbox-profile" >
                <span>Telefono Mobile:</span><br>
                <input type="text" name="phone_mobile" placeholder="Phone Mobile" />
            </div>
            <div id="update" class="updateButton inputbox-profile" >
                <span>Registrati</span><br>
            </div>

        </form>


    </div>
</div>
