<div class="profile-container">
    <!--  <h1> Riepilogo Profilo </h1>-->
    <div class="cart-heading-1 ">
        <h2><i class="fa fa-user"></i> Registrazione</h2>
    </div>

    <div class="register-content register-content-profile">
        <form >
            <div class="inputbox-profile">
                <span>Nome:</span><br>
                <input type="text"  id="firstname"  name="firstname" placeholder="Firstname" required/>
            </div>
            <div class="inputbox-profile">
                <span>Cognome:</span><br>
                <input type="text" name="lastname" id="lastname" placeholder="Lastname" required/>
            </div>
            <div class="inputbox-profile">
                <span>Email:</span><br>
                <input type="email" name="email"  id="email" placeholder="Email" required/>
            </div>
            <div class="inputbox-profile">
                <span>Password</span><br>
                <input type="password" name="password" id="password" placeholder="Password" required/>
            </div>
            <div class="inputbox-profile">
                <span>Riperti Password</span><br>
                <input type="password" name="password2" required/>
            </div>

            <div class="inputbox-profile" >
                <span>Data di Nascita:</span><br>
                <input type="date" name="birthday" id="birthday"  />
            </div>
            <div class="inputbox-profile" >
                <span>Indirizzo:</span><br>
                <input type="text" name="address1" id="address1" placeholder="Address1" />
            </div>
            <div class="inputbox-profile" >
                <span>Dettagli Indirizzo:</span><br>
                <input type="text" name="address2" id="address2" placeholder="Addresses" />
            </div>
            <div class="inputbox-profile" >
                <span>Citt&aacute;:</span><br>
                <input type="text" name="city" id="city"  placeholder="City" />
            </div>
<!--            <div class="inputbox-profile" >
                <span>CAP:</span><br>
                <input type="text" name="postcode" id="postcode" placeholder="Postcode" />
            </div>-->
<!--            <div class="inputbox-profile" >
                <span>Telefono Casa:</span><br>
                <input type="text" name="phone" id="phone" placeholder="Phone" />
            </div>
            <div class="inputbox-profile" >
                <span>Telefono Mobile:</span><br>
                <input type="text" name="phone_mobile" id="phone_mobile" placeholder="Phone Mobile" />
            </div>-->
            <!--            <div id="update" class="updateButton inputbox-profile" >
                            <span>Registrati</span><br>
                        </div>-->
            <div id="update" class="cart-heading-1 ">
                <h2 class="updateButton" style="text-align: center;">Registrati!</h2>

            </div>
        </form>


    </div>
</div>
