<!--<script>
    var validator = new FormValidator('registration', [
                {
                    name: 'firstname',
                    display: 'required',
                    rules: 'required'
                },
                {
                    name: 'lastname',
                    rules: 'alpha_numeric'
                },
                {
                    name: 'password',
                    rules: 'required'
                },
                {
                    name: 'password2',
                    display: 'password confirmation',
                    rules: 'required|matches[password]'
                },
                {
                    name: 'email',
                    rules: 'valid_email',
                    depends: function () {
                        return Math.random() > .5;
                    }
                }
            ], function (errors, event) {
                var SELECTOR_ERRORS = $('.error_box');
                if (errors.length > 0) {
                    SELECTOR_ERRORS.empty();
                    for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
                        SELECTOR_ERRORS.append(errors[i].message + '<br />');
                    }
                    SELECTOR_ERRORS.fadeIn(200);
                    // Show the errors
                }
            });
</script>-->
<div class="profile-container">
    <!--  <h1> Riepilogo Profilo </h1>-->
    <div class="cart-heading-1 ">
        <h2><i class="fa fa-user"></i> Registrazione</h2>
    </div>
    <div class="error_box" style="display: block;"></div>
    <div class="register-content register-content-profile">
        <form name="registration">
            <div class="inputbox-profile">
                <span>Nome:</span><br>
                <input type="text"  id="firstname"  name="firstname" placeholder="Firstname" required />
                <span id="firstnameError" class="formError"></span>
            </div>
            <div class="inputbox-profile">
                <span>Cognome:</span><br>
                <input type="text" name="lastname" id="lastname" placeholder="Lastname" required/>
                <span id="lastnameError" class="formError"></span>
            </div>
            <div class="inputbox-profile">
                <span>Email:</span><br>
                <input type="email" name="email"  id="email" placeholder="Email" required/>
                <span id="emailError" class="formError"></span>
            </div>
            <div class="inputbox-profile">
                <span>Password</span><br>
                <input type="password" name="password" id="password" placeholder="Password" required/>
                <span id="passwordError" class="formError"></span>
            </div>
            <div class="inputbox-profile">
                <span>Riperti Password</span><br>
                <input type="password" name="password2" id="password2" required/>
                <span id="password2Error" class="formError"></span>
            </div>

            <div class="inputbox-profile" >
                <span>Data di Nascita:</span><br>
                <input type="date" name="birthday" id="birthday"  />
                <span id="birthdayError" class="formError"></span>
            </div>
            <div class="inputbox-profile" >
                <span>Indirizzo:</span><br>
                <input type="text" name="address1" id="address1" placeholder="Address1" />
                <span id="address1Error" class="formError"></span>
            </div>
            <div class="inputbox-profile" >
                <span>Dettagli Indirizzo:</span><br>
                <input type="text" name="address2" id="address2" placeholder="Addresses" />
                <span id="address2Error" class="formError"></span>
            </div>
            <div class="inputbox-profile" >
                <span>Citt&aacute;:</span><br>
                <input type="text" name="city" id="city"  placeholder="City" />
                <span id="cityError" class="formError"></span>
            </div>
            <div id="update" class="cart-heading-1 ">
                <h2 class="updateButton" style="text-align: center;">Registrati!</h2>

            </div>
        </form>


    </div>
</div>
