<!--item-link close-panel item-content close-popup open-login-screen-->
<!-- menu end -->
<div id="target" style="float: none;" class="splashscreen">
  <div class="">
    <h3><img src="img/logo.png" alt=""></h3>
    <div class="inputbox">
      <span>Email</span><br>
      <input type="text" name="name"  id="inputEmail" placeholder="Email">
    </div>
    <div class="inputbox">
      <span>Password:</span><br>
      <input type="password" name="password" id="inputPassword" placeholder="***********">
    </div>
    <div class="inputbox">
      <a id="forgetPass">Password Rimenticata?</a>
    </div>
    <div class="inputbox">
      <button id="loginFire" class="button button-big">Entra</button>
    </div>

    <p>Non sei Ancora Registrato?  <a class="open-popup" >Registrati</a></p>
  </div>
</div>
