<div class="page-content">
    <!-- Link to another page -->
    <div class="list-block">
        <!-- slider area start-->
        <div class="slider-area">
            <div class="ks-slider-custom">
                <div data-pagination=".swiper-pagination" data-space-between="0" data-next-button=".swiper-button-next" data-prev-button=".swiper-button-prev" data-pagination-clickable="true" class="swiper-container swiper-init">

                    <div class="swiper-wrapper">
                        <div style="background-image:url(img/farms/home1.jpg)" class="swiper-slide">
                            <div class="slide-text">
                                <p>IL MERCATO AGRICOLO ONLINE</p>
                                <h2>LOVE ITALY</h2>
                            </div>
                        </div>
                        <div style="background-image:url(img/farms/home1.jpg)" class="swiper-slide">
                            <div class="slide-text">
                                <p>Freschissima e di qualità!</p>
                                <h2>FRUTTA E VERDURA</h2>
                            </div>
                        </div>
                        <div style="background-image:url(img/farms/home1.jpg)" class="swiper-slide">
                            <div class="slide-text">
                                <p>SPESA A KM0</p>
                                <h2>SUPPORTA</h2>
                                <a href="#">IL TOP</a>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <!-- slider area start-->
        <!-- shop discover area start-->
        <div class="clear"></div>
        <div class="">
            <div class="cart-heading-1 ">
                <h2  style="text-align: center;">CATEGORIE</h2>
            </div>
            <div class="clear"></div>
            <div class="row">
                {{#each Categorie}}
                <div class="shopbox shopbox-home" data-id="{{id}}" id="goToCategory" style="background-image:url('http://loveitaly.altervista.org/api/images/categories/{{id}}?ws_key=IYI6M35MLB8UVW38Y99RY3YPQWRX5X8H');">
                    <h3>{{name}}</h3>
                    <div class="shopbox-content shopbox-content-cart" style="display:none;background-image:url('')"></div>
                </div>
                {{/each}}

            </div>
        </div>

        <!--        <div class="add-to-links">
                    <div id="firemeDown" class="compare-button" data-id="{{id}}">
                        <i class="fa fa-minus" style="color: black"></i>
                    </div>
                    <div id="firemeUp" class="add-to-wishlist" data-id="{{id}}">
                        <i class="fa fa-plus" style="color: black"></i>
                    </div>
        
                </div>-->
        <!--    Featured Product-->
        <div class="clear"></div>
        <div class="ks-slider-custom">
            <div class="cart-heading-1 ">
                <h2  style="text-align: center;">I MIGLIORI PRODOTTI</h2>
            </div>
            <div data-space-between="0" data-next-button=".swiper-button-next" data-prev-button=".swiper-button-prev" class="swiper-container2 swiper-init">
                <div class="swiper-wrapper">
                    {{#each Prodotti}}
                    <div class="swiper-slide"  id="goToProduct" >
                        <div class="single-project" >
                            <div class="product-img"data-id="{{id}}" >

                                <img src="http://loveitaly.altervista.org/api/images/products/{{id}}/{{associations.images.0.id}}?ws_key=IYI6M35MLB8UVW38Y99RY3YPQWRX5X8H"/></a>
                                <span>TOP</span>
                                <div class="actions">
                                    <div class="action-buttons">
                                        <div class="add-to-cart">
                                            <a id="firemeUp"  data-id="{{id}}">Aggiungi al Carrello</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h1 class="product-name">{{name}}</h1>
                                <h1 class="product-name product-name-red">€ &nbsp; {{twodigit price}}</h1>									
                            </div>									
                        </div>					        	
                    </div> 
                    {{/each}}
                </div>
            </div>
        </div>						
    </div>
    <!--    -->
    <div class="banner-area banner-home">
        <a href="#"><img src="img/farms/tempodi.jpg" alt="" /></a> 
    </div>
    <div class="corporate-area">
        <div class="row">
            <div class="col-100 tablet-33">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div id="logout" class="corporate-text">
                        <h4>SOSTENIBILITÀ</h4>
                        <p>Le consegne vengono effettuate il martedì e il venerdì, tra le 10.00 e le 19.00, </p>
                        <p>  all’indirizzo da te indicato. Gli ordini per il martedì si chiudono la domenica, </p>
                        <p>  mentre quelli per il venerdì si chiudono il mercoledì. </p>
                        <p>  Puoi selezionare la data scegliendola tra quelle disponibili nel calendario.</p>
                    </div>
                </div>
            </div>
            <div class="col-100 tablet-33">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="corporate-text">
                        <h4>PAYPAL</h4>
                        <p><b>Pagamenti sicuri e non ci pensi più </b>.</p>
                    </div>
                </div>
            </div>
            <div class="col-100 tablet-33">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-life-bouy"></i>
                    </div>
                    <div class="corporate-text">
                        <h4>SERVIZIO CLIENTI SEMPRE ATTIVO</h4>
                        <p>Loveitaly s.r.l.s, Via Abbazia 16 - 66030 Treglio (CH)</p>
                        <p>   Contattaci: 339 53 47 252</p>
                        <p>   Email: <a href="mailto:info@loveitaly.net">info@loveitaly.net</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-icon">
            <p>Genew Porchetta Team Club Copyright 2015. All rights reserved.</p>
            <a href="https://www.facebook.com/loveitalyacasatua/" onclick="window.open('https://www.facebook.com/loveitalyacasatua/', '_system');"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/Loveitalytwitt" onclick="window.open('https://twitter.com/Loveitalytwitt', '_system');"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/loveitalyacasatua/" onclick="window.open('https://instagram.com/loveitalyacasatua/', '_system');"><i class="fa fa-linkedin"></i></a>
            <a href="https://plus.google.com/113078716910967350018/posts" onclick="window.open('https://plus.google.com/113078716910967350018/posts', '_system');"><i class="fa fa-google-plus"></i></a>
            <a href="http://www.lovaitaly.net" onclick="window.open('http://www.loveitaly.net', '_blank');"><i class="fa fa-internet-explorer"></i></a>
        </div>
    </div>
</div>

<script>

    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 1500,
        autoplayDisableOnInteraction: false
    });

    var mySwiper2 = new Swiper('.swiper-container2', {
    });
    var mySwiper3 = new Swiper('.swiper-container3', {
    });

</script>
