<div class="content-block-inner">
    <div class="cartbox">
        <div class="cart-heading-1 ">
            <h2><i class="fa fa-history"></i> </h2>
        </div>
         <div class="check-contenttext">
            {{#exists Pending}}
            <div class="list-block accordion-list">


                <ul>
                    {{#each Pending}}
                    <li class="accordion-item">
                        <a class=" item-link item-content">
                            <div class="item-inner">
                                <div class="item-title"><span>Ordine del {{dataformatter invoicedate}}</span>  Spedizione: {{shipaddress spedizione}}</div>
                            </div>
                        </a> 

                        <div class="accorodinbox">
                            <h2>Dettaglio</h2>
                            <p>Prodotti:</p>

                            <table>
                                <tr>
                                    <td>
                                        <h4>Nome</h4>
                                    </td>
                                    <td>
                                        <h4>Quantit&agrave;</h4>
                                    </td>
                                    <td>
                                      <h4>Prezzo</h4>
                                    </td>
                                </tr>
                                {{#each prodotti}}

                                <tr>
                                    <td>
                                        <h4>{{prodotto.product.name}}</h4>
                                    </td>
                                    <td>
                                        <h4>{{quantity}}</h4>
                                    </td>
                                    <td>
                                        <h4>{{twodigit prodotto.product.price}}</h4>
                                    </td>


                                </tr>





                                {{/each}}
                            </table>  
                            <span>Totale Pagato: {{totale}}</span>

                        </div>											



                        {{/each}}
                </ul>



            </div>
            {{/exists}}
         
        </div>
        <div class="check-contenttext">
            {{#exists Ordini}}
            <div class="list-block accordion-list">


                <ul>
                    {{#each Ordini}}
                    <li class="accordion-item">
                        <a class=" item-link item-content">
                            <div class="item-inner">
                                <div class="item-title"><span></span> {{reference}} del {{invoice_date}}</div>
                            </div>
                        </a> 

                        <div class="accorodinbox">
                            <h2>Dettaglio</h2>
                            <p>Prodotti:</p>

                            <table>
                                <tr>
                                    <td>
                                        <h4>Nome</h4>
                                    </td>
                                    <td>
                                        <h4>Quantit&agrave;</h4>
                                    </td>
                                    <td>
                                        <h4>Prezzo</h4>
                                    </td>
                                </tr>
                                {{#each associations.order_rows}}

                                <tr>
                                    <td>
                                        <h4>{{product_name}}</h4>
                                    </td>
                                    <td>
                                        <h4>{{product_quantity}}</h4>
                                    </td>
                                    <td>
                                        <h4>{{twodigit product_price}}</h4>
                                    </td>


                                </tr>





                                {{/each}}
                            </table>  
                            <span>Totale Pagato: {{total_paid}}</span>

                        </div>											



                        {{/each}}
                </ul>



            </div>
            {{/exists}}
            {{#isEmpty Ordini}}
            <h3> Lo storico ordini non ha prodotto alcun risultato!</h3>
            <h3> Che aspetti ad Ordinare qualcosa?!</h3>
            {{/isEmpty}}
        </div>
    </div>
</div>
