<div class="profile-container">
    <!--  <h1> Riepilogo Profilo </h1>-->
    <div class="cart-heading-1 ">
        <h2><i class="fa fa-user"></i> Profilo</h2>
    </div>

    <div class="register-content register-content-profile">
        <form >
            <div class="inputbox-profile">
                <span>Nome:</span><br>
                <input type="text" name="firstname" placeholder="{{Customer.firstname}}" value="{{Customer.firstname}}" disabled/>
            </div>
            <div class="inputbox-profile">
                <span>Cognome:</span><br>
                <input type="text" name="lastname" placeholder="{{Customer.lastname}}" value="{{Customer.lastname}}" disabled/>
            </div>
            <div class="inputbox-profile">
                <span>Email:</span><br>
                <input type="email" name="email" placeholder="{{Customer.email}}" value="{{Customer.email}}" disabled/>
            </div>
            <div class="inputbox-profile" >
                <span>Data di Nascita:</span><br>
                <input type="text" name="birthday" placeholder="{{Customer.birthday}}" value="{{Customer.birthday}}" disabled/>
            </div>
            <div class="inputbox-profile" >
                <span>Indirizzo:</span><br>
                <input type="text" name="address1" placeholder="{{Customer.address1}}" value="{{Customer.address1}}" disabled/>
            </div>
            <div class="inputbox-profile" >
                <span>Dettagli Indirizzo:</span><br>
                <input type="text" name="address2" placeholder="{{Customer.address2}}" value="{{Customer.address2}}" disabled/>
            </div>
            <div class="inputbox-profile" >
                <span>Citt&aacute;:</span><br>
                <input type="text" name="city" placeholder="{{Customer.city}}" value="{{Customer.city}}" disabled/>
            </div>
            <div class="inputbox-profile" >
                <span>CAP:</span><br>
                <input type="text" name="postcode" placeholder="{{Customer.postcode}}" value="{{Customer.postcode}}" disabled/>
            </div>
            <div class="inputbox-profile" >
                <span>Telefono Casa:</span><br>
                <input type="text" name="phone" placeholder="{{Customer.phone}}" value="{{Customer.phone}}" disabled/>
            </div>
            <div class="inputbox-profile" >
                <span>Telefono Mobile:</span><br>
                <input type="text" name="phone_mobile" placeholder="{{Customer.phone_mobile}}" value="{{Customer.phone_mobile}}" disabled/>
            </div>
            <div id="update" class="updateButton inputbox-profile" >
                <span>Modifica</span><br>
            </div>

        </form>


    </div>
</div>
