<div class="profile-container">
  <h1> Riepilogo Profilo </h1>

  <div class="register-content register-content-profile">
    <form >
      <div class="inputbox-profile">
        <span>Nome:</span><br>
        <input type="text" name="firstname" placeholder="{{firstname}}" value="{{firstname}}" />
      </div>
      <div class="inputbox-profile">
        <span>Cognome:</span><br>
        <input type="text" name="lastname" placeholder="{{lastname}}" value="{{lastname}}" />
      </div>
      <div class="inputbox-profile">
        <span>Email:</span><br>
        <input type="email" name="email" placeholder="{{email}}" value="{{email}}" />
      </div>
      <div class="inputbox-profile" >
        <span>Data di Nascita:</span><br>
        <input type="text" name="birthday" placeholder="{{birthday}}" value="{{birthday}}" />
      </div>
    </form>

  </div>
</div>
