<div class="profile-container">
    <!--  <h1> Riepilogo Profilo </h1>-->
    <div class="cart-heading-1 ">
        <h2><i class="fa fa-user"></i> Modifica Profilo</h2>
    </div>

    <div class="register-content register-content-profile">
        <form >
            <div class="inputbox-profile">
                <span>Nome:</span><br>
                <input type="text" id="firstname" name="firstname" placeholder="{{Customer.firstname}}" value="{{Customer.firstname}}"  />
                <span id="firstnameError" class="formError"></span>
            </div>
            <div class="inputbox-profile">
                <span>Cognome:</span><br>
                <input type="text" id="lastname" name="lastname" placeholder="{{Customer.lastname}}" value="{{Customer.lastname}}"  />
                <span id="lastnameError" class="formError"></span>
            </div>
            <div class="inputbox-profile">
                <span>Email:</span><br>
                <input type="email" id="email" name="email" placeholder="{{Customer.email}}" value="{{Customer.email}}"  />
                <span id="emailError" class="formError"></span>
            </div>
            <div class="inputbox-profile" >
                <span>Data di Nascita:</span><br>
                <input type="text" id="birthday" name="birthday" placeholder="{{Customer.birthday}}" value="{{Customer.birthday}}"  />
            </div>
            <div class="inputbox-profile" >
                <span>Indirizzo:</span><br>
                <input type="text" id="address1" name="address1" placeholder="{{Customer.address1}}" value="{{Customer.address1}}"  />
            </div>
            <div class="inputbox-profile" >
                <span>Dettagli Indirizzo:</span><br>
                <input type="text" id="address2" name="address2" placeholder="{{Customer.address2}}" value="{{Customer.address2}}"  />
            </div>
            <div class="inputbox-profile" >
                <span>Citt&aacute;:</span><br>
                <input type="text" id="city" name="city" placeholder="{{Customer.city}}" value="{{Customer.city}}"  />
            </div>
            <div class="inputbox-profile" >
                <span>CAP:</span><br>
                <input type="text" id="postcode" name="postcode" placeholder="{{Customer.postcode}}" value="{{Customer.postcode}}"  />
            </div>
            <div class="inputbox-profile" >
                <span>Telefono Casa:</span><br>
                <input type="text" id="phone" name="phone" placeholder="{{Customer.phone}}" value="{{Customer.phone}}"  />
            </div>
            <div class="inputbox-profile" >
                <span>Telefono Mobile:</span><br>
                <input type="text" id="phone_mobile" name="phone_mobile" placeholder="{{Customer.phone_mobile}}" value="{{Customer.phone_mobile}}"  />
            </div>
            <br/>
            <input type="hidden" id="idCostumer" value="{{Customer.id}}"/>
            <div class="cart-heading-1 ">
                <h2 id="runUpdate" class="updateButton" style="text-align: center;" class="">Modifica</h2>
            </div>
<!--            <div id="runUpdate" class="updateButton" data-id="{{Customer.id}}"> Modifica </div>          -->
            <br/>
        </form>


    </div>
</div>
